footer{
    width: 100%;
    height: 583px;    
    
    background: #333333;
    /* align-items: center; */
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-box{
    margin-top: 100px;
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer_region{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 4px; ;
    margin-bottom: 20px;
}

.footer_region-const{
    width: 93px;
    height: 24px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 170%;

    color: #FFFFFF;

    opacity: 0.5;
}

.footer_region-name{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;

    color: #FFFFFF;

    flex: none;
    order: 0;
    flex-grow: 0;
    border-bottom: 1px solid  #FFFFFF;
}

.footer_info-contacts{
    width: 193px;
    height: 48px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 170%;

    color: #FFFFFF;
    margin-bottom: 12px;
}

.footer_info-inn{
    width: 158px;
    height: 48px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 170%;

    color: #FFFFFF;

    opacity: 0.5;
    
    margin-bottom: 12px;
}

.footer_info-social{
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer_info-name{
    width: 204px;
    height: 40px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;

    color: #FFFFFF;

    opacity: 0.5;
    margin-bottom: 24px;
}

.footer_info-text{
    width: 228px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 170%;

    color: #FFFFFF;
}

.footer_line{
    width: 1200px;
    height: 1px;

    background: #FFFFFF;
    opacity: 0.1;
    
    margin-top: 80px;
}

.footer_last{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer_last-text{
    margin-top: 20px;
    height: 14px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 120%;

    color: #FFFFFF;

    opacity: 0.3;
}